@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    gap: 30px;

}

header a {
    text-decoration: none;
    font-weight: 900;

}

@media (max-width: 767px) {
    header {
        display: flex;
        justify-content: space-around;
        padding-right: 0px;

    }
}

.container {
    width: 80%;
    margin: auto;
}

footer img {
    width: 40px;
}